.error {
  padding: 50px 0;
  &__container {
    color: var(--gray-text);
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.09;
  }

  &__text {
    padding: 20px 0 100px 0;
    font-weight: 400;
    line-height: 1.46;
    max-width: 80%;
  }

  &__bold {
    font-weight: 700;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 599.98px) {
  .error {
    &__text {
      padding: 20px 0 50px 0;
    }
    &__btns {
      flex-direction: column;
      gap: 30px;
      text-align: center;
    }
  }
}