.banner {
  position: relative;
  padding: 200px 0;
  background-image: url('/banners/main-banner.jpg');
  background-position: 50%;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  &__content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
  }

  &__title {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .7);
    font-size: calc(35px + round(13 * (100vw / 1800))); //48 -> 35
  }

  &__description {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  .banner {
    padding: 150px 0;
    &__description {
      display: none;
    }
  }
}

@media (max-width: 419.98px) {
  .banner {
    padding: 100px 0;
  }
}
