/* globals.css */
/* Ваш остальной глобальный CSS */

/*:root {*/
/*  --max-width: 1100px;*/
/*  --border-radius: 12px;*/
/*  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',*/
/*    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',*/
/*    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;*/

/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/

/*  --primary-glow: conic-gradient(*/
/*    from 180deg at 50% 50%,*/
/*    #16abff33 0deg,*/
/*    #0885ff33 55deg,*/
/*    #54d6ff33 120deg,*/
/*    #0071ff33 160deg,*/
/*    transparent 360deg*/
/*  );*/
/*  --secondary-glow: radial-gradient(*/
/*    rgba(255, 255, 255, 1),*/
/*    rgba(255, 255, 255, 0)*/
/*  );*/

/*  --tile-start-rgb: 239, 245, 249;*/
/*  --tile-end-rgb: 228, 232, 233;*/
/*  --tile-border: conic-gradient(*/
/*    #00000080,*/
/*    #00000040,*/
/*    #00000030,*/
/*    #00000020,*/
/*    #00000010,*/
/*    #00000010,*/
/*    #00000080*/
/*  );*/

/*  --callout-rgb: 238, 240, 241;*/
/*  --callout-border-rgb: 172, 175, 176;*/
/*  --card-rgb: 180, 185, 188;*/
/*  --card-border-rgb: 131, 134, 135;*/
/*}*/

:root {
  --gray-text: #666;
  --dark-gray-color: #595959;
  --blue-text: #2F6FB1;
  --black-text: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  [class*="container"] {
    padding: 0 15px;
  }
}
